<!DOCTYPE html> 
<html lang="es">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mercado Liebre - Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       
</head>
<body>
    <header class="bg-yellow p-1 flex flex-wrap">
        <div class="w-50 main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </div>
        <div class="p-2 w-50 align-center">
            <form action="/" class="p-1 flex radius-1 bg-white">
                <input class="flex-grow b-none outline-none font-xl" type="text" name="search"
                    placeholder="Buscá productos por nombre, marcas o palabras clave"> <!-- Aca tengo un problema: Cuando bajo de 300 y pico de px en reactive, se me descompagina el search bar, se sale del form -->
                <button type="submit" class="bg-white b-none">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <p class="w-100 my-1 copy-header"> <!--text-center-->
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
            tarjeta de crédito
        </p>
        <nav class="hide main-navbar">
            <ul class="py-1 left-navbar">
                <li><a class="nav-link" href="#">Ofertas</a></li>
                <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
                <li><a class="nav-link" href="#">Vender</a></li>
                <li><a class="nav-link" href="#">Ayuda</a></li>
            </ul>
            <ul class="py-1 right-navbar">
                <li>
                    <a class="nav-link" href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a>
                </li>
                <li>
                    <a class="nav-link" href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a> <!-- VER no funciona el link -->
                </li>
                <li>
                    <a class="nav-link" href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <div class="text-center w-100 hamburguer-button">
            <i class="fa-solid fa-bars p-1 bg-blue radius-1 color-white bold"></i>
        </div>
    </header>
    
    <main>
        <form action="" method="GET" class="bg-gray">
            <div class="text-center p-2 vw-90 font1 w-100">  
            <input type= "text" name= "name" id= "name" placeholder="Nombre y Apellido" class="font1 radius-1" required pattern="([a-zA-Z]+\s+){1,}([a-zA-Z]+)" minlength="2" title="El nombre debe tener al menos 2 letras"> 
            </div>

            <div class="text-center p-2 vw-90 font1 w-100">
            <input type= "text" name= "user" id= "user" placeholder="Nombre de Usuario" class="font1 radius-1" required pattern="\w{2,}" title="El nombre de Usuario debe tener al menos 2 letras">
            </div>

            <div class="text-center p-2 vw-90 font1 w-100">
            <input type= "password" name= "password" id= "password" placeholder="Contraseña" class="font1 radius-1" required pattern=".{6,}" title="La contraseña deberá tener al menos 6 letras">
            </div>

            <div class="text-center p-2 vw-90 font1 w-100">
            <input type= "password" name= "confirm-password" id= "confirm-password" placeholder="Confirmar contraseña" class="font1 radius-1" required pattern=".{6,}" title="La contraseña deberá tener al menos 6 letras">
            </div>

            <div class="text-center p-2 vw-90 font1 w-100">
            <input type= "email" name= "user" id= "user" placeholder="Correo Electrónico" class="font1 radius-1" required pattern="\w{2,@}" title="Debe ser una casilla de correo válida">    
            </div>

            <p class="p-2  vw-90 font1 w-100">
            <label for="birth" class="bold"> Fecha de nacimiento </label>
            </p>

            <div class="text-center p-2 vw-90 w-100">
            <input type= "date" name= "birth" id= "birth" required>
            </div>
            
            <div class="text-center p-2 vw-90 font1 w-100">
            <input type= "text" name= "adress" id= "adress" placeholder="Domicilio" class="font1 radius-1">
            </div>

            <p class="p-2  vw-90 font1 w-100">
            <label for="avatar" class="bold"> Imagen de Avatar </label>
            </p>
    
            <div class="text-center p-2 vw-90 w-100">
            <input type= "file" name= "avatar" id= "avatar" class="font1 radius-1" title="Debe ser un archivo en formato .jpg">
            </div>
            
            <div class="p-2 vw-90 font1 w-100 bold">
            <p> Perfil del Usuario </p>
            </div>
          
            <div class="text-center p-2 vw-90 font1 w-100">
            <input type="checkbox" name="perfil" value="buyer" class="checkbox-round"> Comprador
            <input type="checkbox" name="perfil" value="seller" class="checkbox-round"> Vendedor
            </div>
            
            <div class="p-2 vw-90 font1 w-100 bold">
            <p> Categorías de Interés </p>
            </div>

            <div class="text-center p-2 vw-90 w-100 flex">
            <label for="electro" class="text-center p-2 vw-90 w-100"> Electro </label>
            <input type="checkbox" name="interest" value="electro" id="electro" class="text-center p-2 vw-90 w-100 align-center"> 
            </div>

            <div class="text-center p-2 vw-90 w-100 flex">
            <label for="moda" class="text-center p-2 vw-90 w-100"> Moda </label>
            <input type="checkbox" name="interest" value="fashion" id="moda" class="text-center p-2 vw-90 w-100 align-center"> 
            </div>

            <div class="text-center p-2 vw-90 w-100 flex">
            <label for="hogar" class="text-center p-2 vw-90 w-100"> Hogar </label>
            <input type="checkbox" name="interest" value="home" id="hogar" class="text-center p-2 vw-90 w-100 align-center"> 
            </div>

            <div class="text-center p-2 vw-90 w-100 flex">
            <label for="jugueteria" class="text-center p-2 vw-90 w-100"> Juguetería </label>
            <input type="checkbox" name="interest" value="toys" id="jugueteria" class="text-center p-2 vw-90 w-100 align-center"> 
            </div>    

            <div class="text-center p-2 vw-90 w-100 flex">
            <label for="vida-sana" class="text-center p-2 vw-90 w-100"> Vida Sana </label>
            <input type="checkbox" name="interest" value="health" id="vida-sana" class="text-center p-2 vw-90 w-100 align-center"> 
            </div>

            <div class="text-center p-2 vw-90 font1 w-100">
            <button type="submit" value="Enviar" class="button1" formaction="/"> Enviar </button>
            <button type="reset" value="Borrar" class="button1"> Borrar </button>
            </div>

            </form>
    
            
    <footer class="flex flex-row">
    <ul class="text-center flex flex-row">
                    <li class="my-1"> <i class="fa-solid fa-credit-card fa-xl text-center w-100 lm" style="color: #03264c;"></i> <p class = "bold">Pagá con tarjeta o en efectivo<p class=""> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p></p></li>
        
                        
                    <li class="my-1"> <i class="fa-solid fa-gift fa-xl text-center w-100 lm" style="color: #03264c;"></i><p class="bold">Envío gratis desde $ 2.500<p class="">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p></p></li>
        
                         
                    <li class="my-1"><i class="fa-solid fa-user-shield fa-xl text-center w-100 lm" style="color: #03264c;"></i> <p class="bold">Seguridad, de principio a fin <p class="">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p></p></li>
                </ul>
                
        
    </footer>
<p class="align-left">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
        
</body>
</html>
       
        
       
        
        
           
        



